doctype html
html
  head
      title Creating && Launching Your Own Products!
      meta(charset='utf-8')
      script(src='slides.js')
      //- link(href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700' rel='stylesheet' type='text/css')
      link(href='styles.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article.first
          h1(style="font-size:130px;") Creating and Launching Your own products
          p.sub
            a(href='http://wesbos.com') wesbos.com
            |  &&nbsp;
            a(href='http://twitter.com/wesbos') @wesbos

        article
          h1(style="font-size:170px;") I&apos;m<br>Wes Bos
          br
          img(src="images/canada-flag.png")

        article
          a(href='http://twitter.com/wesbos', target='_blank' style='text-decoration:none;')
            h1 <img src="https://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg" width="250"> wesbos

        article
          h1 I'm a Web Developer

        article
          h1 I'm a<br>Teacher

        article
          h1 I'm an<br>Entrepreneur

        article
          p.sub I'm a
          h1 Share What you know
          br
          p.sub kinda guy

        article
          p.sub but
          h1 turn it into a business
          br
          p.sub while you're at it

        article
          h2 I'm figuring out how to make a living by teaching others the things I love

        article
          h1 We're all creatives

        article
          h1 We love what we do

        article
          h2.white Let's turn<br><span class="hl">Passion</span><br>into<br><span class="hl">Payment</span>


        article
          p.sub but..
          h1 It's not just passion

        article
          h1 It's Tactics

        article
          h1(style="font-size:150px") It's things you can start doing today to build momentum

        article
          h2 So you can live a fulfilling life doing what you love

        article
          h1 Okay enough motivation!
          p.sub Tell me how to do it!

        article
          h1 My Story

        article
          h1 Blogging for 5 years

        article
          h1 YouTubing for 4 years

        article
          h3 Traffic is Good
          img(src="/images/screenshots/fiJ1.png")

        article
          h3 YouTube Views are high
          img(src="/images/screenshots/fif3.png")

        article
          h2 but profits are very low

        article
          img.high(src="/images/screenshots/fi6D.png")

        article
          img.high(src="/images/screenshots/fiWU.png")

        article
          h1 200 Sign Ups

        article
          h1 shit
          p.sub I guess I should write a book now

        article
          h1 1.5 years later...


        article
          img.high(src="/images/screenshots/fi97.png")

        article
          img.high(src="/images/screenshots/fiXu.png")

        article
          h1 400 sales
          p.sub in the first week

        article
          h1 Wow - it worked!

        article
          img.high(src="/images/screenshots/fiMm.png")

        article
          img.wide(src="/images/screenshots/fovg.png")

        article
          img.high(src="/images/screenshots/fiNl.png")

        article
          h1 1.5 years later
          p.sub Try it again!
        article
          img.high(src="/images/screenshots/fi4v.png")

        article
          video.high(src="/images/screenshots/fop3.quicktime" loop mute autoplay)

        article
          img.high(src="/images/screenshots/fi2a.png")

        article
          h1 1,500 sales!
          p.sub In the first week

        article
          h1 how?

        article
          p.
            <span class="hl">5 Parts</span> Quality Content
            <br>
            +
            <br>
            <span class="hl">2 parts</span> Personality + Reputation
            <br>
            +
            <br>
            <span class="hl">2 parts</span> Community
            <br>
            +
            <br>
            <span class="hl">2 parts</span> Good Marketing

        article
          h1 Quality Content
          p.sub How do I know what I should create?

        article
          h1 Hard<small>ish</small> to learn

        article
          h1 No brainer value

        article
          img.wide(src="/images/screenshots/fhzK.png")

        article
          img.wide(src="/images/screenshots/fiFu.png")

        article
          h1 Sells Itself

        article
          img.wide(src="/images/screenshots/fiLx.png")

        article
          h1 Solves a pain
          p.sub Maybe a pain you had while learning

        article
          h1 Marketing
          p.sub A whole 'nother skillset

        article
          h1 email is king

        article
          h3 4.2x twitter — same # on each platform
          img.wide(src="/images/screenshots/fi1M.png")

        article
          h2 React Launch Month:
          br
          br
          .build
            p Emailed 29,000 people
            p 800 sales
            p 2.8% Conversion Rate
            p ~$39,200 in sales

        article
          h3 Traffic Over Time — most spikes from email
          img.wide(src="/images/screenshots/fi0r.png")

        article
          h1 My EMail Best Practices
          p.sub not what everyone tells me

        article
          h1 Go easy on a technical audience

        article
          img(src="/images/screenshots/fi1b.png")

        article
          h1 Sell Hard, but don't
          p.sub Social Proof is key 👌

        article
          img.high(src="/images/screenshots/fw4x.png")

        article
          img.wide(src="/images/screenshots/fwf8.png")

        article
          h1 <strike>Suggest</strike><br>Tell them it's good.

        article
          img.wide(src="/images/screenshots/fuyf.png")


        article
          h1 Building a huge List

        article
          h3 My Stats
          ul.build
            li(style="font-size:120px;") 42,000 email subscribers
            li(style="font-size:120px;") 50-100 per day
            li(style="font-size:120px;") ~28,000 in the last year

        article
          p.sub Build your list with a
          h1 Free Series

        article
          img.high(src="/images/screenshots/fiMm.png")

        article
          img.high(src="/images/screenshots/fiNl.png")

        article
          p.sub it
          h1 Establishes Credibility

        article
          p.sub(style="margin-bottom:-50px") it
          h1 Introduces Teaching STyle

        article
          p.sub(style="margin-bottom:-50px") it
          h1 Builds A Devoted Audience

        article
          p most importantly, it
          h2 Builds your<br>Email List
          br
          br
          img.wide(src="/images/screenshots/fiYI.png", alt="")

        article
          h2 flexbox.io
          .build
            p Hard to learn
            p Evergreen content
            p casts wide net
            p free!
        article
          img.high(src="/images/screenshots/fiAX.png")
          // p YouTube videos, but I build a website and a player to house the videos. Sign up with your email to view the videos and download the exercises.

        article
          h3.white Videos are on YouTube openly.<br>they drive users to the site to download exercises.
          img(src="/images/screenshots/ff1g.png")

        article
          h1 Affiliates
          p.sub Strategic relationships are key

        article
          h1 Attention is oxygen
          p.sub Partner with those who already have an audience

        article
          h2 Offer a healthy portion of profits
          p 40% cut

        article
          .build
            p <span class="hl">$59</span> Sale
            p -
            p <span class="hl">$2.01</span> in Credit Card processing fees
            p = <span class="hl">$56.99</span> in Profits
            p Affiliate gets 40% — <span class="hl">$22.80</span> just for linking over

        article
          h3 How does it work?
          .build
            p 2 Week Cookie
            p Purchase gets tagged with affiliate
            p Payout monthly

        article
          h1 The right people are key
          p ~6-7 Affiliates

        article
          img.high(src="/images/screenshots/ff95.png")

        article
          img.high(src="/images/screenshots/feqZ.png")

        article
          h1 I love Adblockers

        article
          h1 Bundles!

        article
          img.high(src="/images/screenshots/ff4H.png")

        article
          h2 High Value
          br
          p is better than
          h2 deep discount

        article
          h2 Black Friday<br>+<br>Cyber Monday

        article
          .build
            p <span class="hl">4</span> day sale
            p email blast to <span class="hl">~50,000</span> people
            p <span class="hl">3</span> books + <span class="hl">videos</span> for <span class="hl">$49</span>
            p <span class="hl">~$20,000</span> in sales

        article
          h1 Podcast Sponsorship
          p.sub so hot right now

        article
          h2.white <span class="hl">The Key:</span> Find people who run podcasts that will <span class="hl">vouch</span> for your product.

        article
          h2 bad and boring
          br
          p(style="font-size:80px;") "This episode is Sponsored by React For Beginners"

        article
          h2 good and exciting:
          br
          p(style="font-size:80px;") <em>"Wes did an awesome job with this series and I know tons of people are loving it. I feel like React is gaining a lot of traction lately and I should get this series too"</em>

        article
          h2 Podcast Tips
          .build
            p Spend a few days listening to the podcasts in your industry.
            p Find Podcasts with similar audience, but not an exact overlap. Anyone listening to a React.js podcast probably already knows React
            p Propose Affiliate Deal for a low-risk trial

        article
          h1 How to Social Media


        article
          h1 I like<br>Twitter

        article
          h2 It's about building rapport, making friends online and having fun

        article
          h2.white It's <em class="hl">not</em> a <br>"way to drive traffic to your site"

        article
          h2 No one gives a shit about your website
          p They come to twitter to consume tweets

        article
          h1 so - bring the value to twitter

        article
          h2 🔥 Hot Tips

        article
          img.high(src="/images/screenshots/fnLG.png")

        article
          img.high(src="/images/screenshots/fn9f.png")

        article
          img.high(src="/images/screenshots/fnL7.png")

        article
          h3 Creating content for the your specific medium builds an audience that both trusts you and is hungry for more.

        article
          h1 The power of Thank You

        article
          h2 This is easy:

        article
          h2 As a creator, you want to be on people's radars

        article
          h2 By saying thanks you get on their radar
          p and open up a dialog to get to know them better

        article
          img.high(src="/images/screenshots/ffK7.gif")

        article
          img.high(src="/images/screenshots/fmxy.png")

        article
          h1 Whew!
          p.sub This seems like a <em>ton</em> of work — it is.

        article
          h1 No Home Runs

        article
          h2(style="font-style:italic;") "The best time to plant a tree was 20 years ago. The second best time is now."

        article
          h1 Start Now!

        article
          h1 What could I create?

        article
          h1 Small Scale Tests
          br
          p.sub blog posts, videos, guides, downloads
          p.sub see what sticks

        article
          h1 Don't Just Copy - try things out!

        article
          h2.white Play with<br><em class="hl">how</em>, <em class="hl">what</em> and <em class="hl">where</em> you release

        article
          h1 It's all about momentum
          p.sub Keep at it

        article
          h1 Grind it out

        article
          p.sub cool, eh?
          h1 Questions?
          br
          p.sub ask me anything!

