doctype html
html
  head
      title Creating && Launching Your Own Products!
      meta(charset='utf-8')
      script(src='slides.js')
      link(href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700' rel='stylesheet' type='text/css')
      link(href='styles.css'  rel='stylesheet' type='text/css')
    body
      section.slides.layout-regular.template-default
        article.first
          h1(style="font-size:130px;") Creating and Launching Your own products
          p.sub
            a(href='http://wesbos.com') wesbos.com
            |  &&nbsp;
            a(href='http://twitter.com/wesbos') @wesbos

        article
          h1(style="font-size:170px;") I&apos;m<br>Wes Bos
          br
          img(src="images/canada-flag.png")

        article
          h2(style="font-size:60px;") These slides will be available shortly after this talk <br>I&apos;ll tweet the link out.
          img(src='images/Twitter_logo_white.png', width='200' style="margin:50px auto")

          h2
            a(href='http://twitter.com/wesbos', target='_blank') @wesbos

        article
          h1 I'm a Web Developer

        article
          h1 I'm a<br>Teacher

        article
          h1 I'm an<br>Entrepreneur

        article
          p.sub I'm a
          h1 Share What you know
          br
          p.sub kinda guy

        article
          p.sub but
          h1 turn it into a business
          br
          p.sub while you're at it

        article
          h2 I'm figuring out how to make a living by teaching others the things I love

        article
          h1 We're all creatives

        article
          h1 We love what we do

        article
          h2.white Let's turn<br><span class="hl">Passion</span><br>into<br><span class="hl">Payment</span>


        article
          p.sub but..
          h1 It's not just passion

        article
          h1 It's Tactics

        article
          h1(style="font-size:150px") It's things you can start doing today to build momentum

        article
          h2 So you can live a fulfilling life doing what you love

        article
          h1 Okay enough motivation!
          p.sub Tell me how to do it!

        article
          h1 My Story

        article
          h1 Blogging for 5 years

        article
          h1 YouTubing for 4 years

        article
          h3 Traffic is Good
          img(src="http://wes.io/fiJ1/content")

        article
          h3 YouTube Views are high
          img(src="http://wes.io/fif3/content")

        article
          h2 but profits are very low

        article
          img.high(src="http://wes.io/fi6D/content")

        article
          img.high(src="http://wes.io/fiWU/content")

        article
          h1 200 Sign Ups

        article
          h1 shit
          p.sub I guess I should write a book now

        article
          img.high(src="http://wes.io/fi97/content")

        article
          img.high(src="http://wes.io/fiXu/content")

        article
          h1 400 sales
          p.sub in the first week

        article
          img.high(src="http://wes.io/fiMm/content")

        article
          img.high(src="http://wes.io/fiNl/content")

        article
          h1 1.5 years later
          p.sub Try it again!
        article
          img.high(src="http://wes.io/fi4v/content")

        article
          img.high(src="http://wes.io/fi2a/content")

        article
          h1 1,500 sales!
          p.sub In the first week

        article
          h1 how?

        article
          p.
            <span class="hl">5 Parts</span> Quality Content
            <br>
            +
            <br>
            <span class="hl">2 parts</span> Personality + Reputation
            <br>
            +
            <br>
            <span class="hl">2 parts</span> Community
            <br>
            +
            <br>
            <span class="hl">2 parts</span> Good Marketing

        article
          h1 Quality Content
          p.sub How do I know what I should create?

        article
          h1 Hard<small>ish</small> to learn

        article
          h1 No brainer value

        article
          img.wide(src="http://wes.io/fhzK/content")

        article
          img.wide(src="http://wes.io/fiFu/content")

        article
          h1 Sells Itself

        article
          img.wide(src="http://wes.io/fiLx/content")

        article
          h1 Solves a pain
          p.sub Maybe a pain you had while learning

        article
          h1 Marketing
          p.sub A whole 'nother skillset

        article
          h1 email is king

        article
          h3 4.2x twitter — same # on each platform
          img.wide(src="http://wes.io/fi1M/content")

        article
          h2 React Launch Month:
          br
          br
          .build
            p Emailed 29,000 people
            p 800 sales
            p 2.8% Conversion Rate
            p ~$39,200 in sales

        article
          h3 Traffic Over Time — most spikes from email
          img.wide(src="http://wes.io/fi0r/content")

        article
          h1 My EMail Best Practices
          p.sub not what everyone tells me

        article
          h1 Go easy on a technical audience

        article
          img(src="http://wes.io/fi1b/content")

        article
          h1 Sell Hard, but don't
          p.sub Social Proof is key 👌

        article
          h1 Building a List

        article
          ul.build
            li(style="font-size:150px;") 40,000 email subscribers
            li(style="font-size:150px;") 50-100 per day
            li(style="font-size:150px;") ~28,000 in the last year



        article
        article
        article
          h1 No Home Runs
        article
          h2(style="font-style:italic;") "The best time to plant a tree was 20 years ago. The second best time is now."

